# SPDX-FileCopyrightText: The matrix-alertmanager-receiver Authors
# SPDX-License-Identifier: GPL-3.0-or-later

Sebastian Hoß <seb@hoß.de>
Sebastian Hoß <seb@hoß.de> <sebhoss@pm.me>
Sebastian Hoß <seb@hoß.de> <seb@xn--ho-hia.de>
Sebastian Hoß <seb@hoß.de> <sebhoss@gmail.com>
Sebastian Hoß <seb@hoß.de> <mail@shoss.de>
