# SPDX-FileCopyrightText: The matrix-alertmanager-receiver Authors
# SPDX-License-Identifier: GPL-3.0-or-later

name: Verify Commits
on:
  pull_request:
    branches: [ main ]
permissions:
  contents: read
jobs:
  verify:
    runs-on: ubuntu-latest
    steps:
      - id: checkout
        name: Checkout
        uses: actions/checkout@v4
      - id: setup_go
        name: Set up Go
        uses: actions/setup-go@v5
        with:
          go-version-file: go.mod
          cache: true
      - id: lint
        name: Lint Go Code
        uses: golangci/golangci-lint-action@v6
        with:
          version: latest
      - id: tests
        name: Run Tests
        run: go test -v -cover ./...
